@import '_include/_var.scss';

body.path-katalog {

/*align -center*/
main,
.region-footer {
	width: 1140px; 
	margin: 0 auto;
}

main {
	padding-top: 30px;
	margin-bottom: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	-o-flex-direction: row-reverse;
	flex-direction: row-reverse;
	color: black;
	a {
		color: black;
		&:hover {
			color: $color_accent;
		}
	}
}

.layout-content {
	width: 800px;margin-right: 20px;
}

.page-title {
	font-family: $font_caption;
	font-size: 40px;
	line-height: 1.2;
	margin-bottom: 30px;
}
.view-katalog .view-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}
.view-katalog .views-row {
	background-color: #efefef;
	width: 32%;
	margin-bottom: 30px;
	img {
		margin-bottom: 70px;
		width: 100%;
		height: auto;
	}
	.views-field-title {
		margin-bottom: 20px;
		padding: 0 20px;
		a {
			font-family: $font_caption;
			font-size: 28px;
		}
	}
	.views-field-body {
		margin-bottom: 20px;
		padding: 0 20px;
		line-height: 1.5;
	}
	.views-field-field-cena {
		margin-bottom: 20px;
		padding: 0 20px;
		font-family: $font_caption;
		font-size: 24px;
		font-weight: 700;		
	}
}

.layout-sidebar-first {
	width: 280px;
	margin-right: 50px;
	h2 {
		padding: 15px 20px;
		font-size: 24px;
		background-color: $color_accent;
		color: white;
	}

	.menu {
		margin-top: 5px;
		list-style: none;
	}
	.menu-item {
		margin-bottom: 10px;
	}
	a {
		padding: 30px 20px 30px 10px;
		display: block;
		background-color: #efefef;
		border-left: 10px solid #efefef;
		&:hover {
			color: black;
			background-color: #f6cfd5;
			border-left: 10px solid $color_accent;
		}
	}	
}
}/*end body.path-katalog*/