@import '_include/_var.scss';

body:not(.path-frontpage) {
	background-color: gray;

/*align -center*/
main {
	width: 1140px; 
	margin: 0 auto;
}
#block-classier-responsivemenumobileicon,
.visually-hidden {
	display: none;
}

#off-canvas {
	display: none;
}

/*align center*/
.region-header {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

header {
	background-image: url(../images/header_bg_01.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	border-bottom: 2px solid #232323;
}
.region-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 10px;
}

/*Логотип*/
#block-9 {
	order: 1;
	.field {
		display: flex;
	}
	.logo--white {
		margin-right: 20px;
	}
	img {
		display: block;
		width: 50px;
		height: 50px;
	}
	.logo--black {
		display: none;
	}
	.site-name a {
		font-family: $font_caption;
		font-size: 24px;
		font-weight: 900;
		line-height: 1.1;
		text-shadow: $shadow;
		text-transform: uppercase;
	}
	.site-slogan {
		font-size: 16px;
		font-weight: normal;

	}
}

/*телефон, соцсети*/
#block-7 {
	order: 2;
	margin-bottom: 30px;
	.field--type-text-with-summary {
		width: 570px;
		display: flex;
	}
	.soc-seti {
		margin-right: 0;
		margin-left: auto;
	}

	.telephone {
		font-family: $font_caption;
		font-size: 24px;
		font-weight: 700;
	}
}

/*Меню*/
#block-classier-horizontalmenu {
	order: 3;
	width: 100%;
	.horizontal-menu {
		display: flex;
		list-style: none;
	}
	.menu-item {
		padding: 20px 30px;
		&.menu-item--active-trail a {
			color: $color_accent;
		}
		&:first-child {
			padding-left: 0;
		}
		a {
			text-transform: uppercase;
			font-family: $font_caption;
			font-weight: bold;
			letter-spacing: 1px;
			&:hover {
				color: $color_accent;
			}
		}
	}
	.menu-item--expanded {
		display: flex;
		flex-direction: column;	
		&:hover {
			.sub-nav {
				display: flex;
				margin-top: 35px;
				.menu-item {
					padding: 15px 50px 15px 10px;
					border-right: none;
					border-bottom: 1px solid rgba(0, 0, 0, 0.4);
					background-color: rgba(0, 0, 0, 0.2);
				}
			}
		} 
	}
	.sub-nav {	
		display: none;
		position: absolute;
		top: 20px;
		/* display: flex; */
		flex-direction: column;
		list-style: none;
	}
}

main {
	padding-top: 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row-reverse;
	-moz-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	-o-flex-direction: row-reverse;
	flex-direction: row-reverse;
	color: black;
	a {
		color: black;
		&:hover {
			color: $color_accent;
		}
	}
}

.layout-content {
	width: 800px;margin-right: 20px;
}

.page-title {
	font-family: $font_caption;
	font-size: 40px;
	line-height: 1.2;
	margin-bottom: 30px;
}
.view-katalog .view-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}
.view-katalog .views-row {
	background-color: #efefef;
	width: 32%;
	margin-bottom: 30px;
	img {
		margin-bottom: 70px;
		width: 100%;
		height: auto;
	}
	.views-field-title {
		margin-bottom: 20px;
		padding: 0 20px;
		a {
			font-family: $font_caption;
			font-size: 28px;
		}
	}
	.views-field-body {
		margin-bottom: 20px;
		padding: 0 20px;
		line-height: 1.5;
	}
	.views-field-field-cena {
		margin-bottom: 20px;
		padding: 0 20px;
		font-family: $font_caption;
		font-size: 24px;
		font-weight: 700;		
	}
}

.layout-sidebar-first {
	width: 280px;
	margin-right: 50px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

}/*end body.not-front*/