@import 'var.scss';

html, body, h1, h2, h3, p, a, ul, li, img{
	margin: 0;
	padding: 0;
}

body {
	font-family: PT serif;
	color: white;
	background-color: white;
	text-shadow: 0 1px 2px #555;
}

a {
	text-decoration: none;
	color: white;
}

/*align center*/
header .block-content,
main .block-content,
#block-classier-views-block-katalog-block-1-2 .view-content,
#block-classier-form,
footer .region-footer {
	width: 1140px;
	margin: 0 auto;
}

/*button*/
.more-link {
	display: flex;
	justify-content: center;
}
.more-link a,
.button a, 
#block-classier-form .button {
	display: block;
	padding: 15px 40px;
	border: 4px solid $color_accent;
	border-radius: 40px;
	font-size: 18px;
	font-weight: normal;
	text-shadow: none;
	line-height: 28px;
	color: black;
	transition: 0.5s;
	&:hover {
		background-color: $color_accent;
		color: white;
	}
}


#block-classier-responsivemenumobileicon,
.visually-hidden {
	display: none;
}

/*Соц. сети*/
.soc-seti {
	display: flex;
	flex-direction: row;
	a {
		height: 40px;
		width: 40px;
		margin-right: 5px;
		font-size: 0px;
		background-size: 40px;
		background-position: 0 0;
		&:hover {
			background-position: 0 40px;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	.fb {background-image: url('../images/soc01.jpg');}
	.tw {background-image: url('../images/soc02.jpg');}
	.vk {background-image: url('../images/soc03.jpg');}
	.ok {background-image: url('../images/soc05.jpg');}
	.instagram {background-image: url('../images/soc04.jpg');}
}

/*Телефон*/
#block-7 {
	position: absolute;
	top: 0px;
	width: 100%;
	margin: 0;
	padding-top: 10px;
	.field {
		display: flex;
		justify-content: space-between;
	}
	.telephone {
		font-family: $font_caption;
		font-size: 24px;
		line-height: 24px;
		font-weight: bold;
		text-shadow: 0 1px 2px #555;
		color: #fff;
	}
	.e-mail {
		color: #fff;
		text-shadow: 0 1px 2px #555;
	}
}

/*Название сайта, лого*/
#block-9 {
	position: absolute;
	width: 100%;
	top: 50px;

	padding-bottom: 70px;
	.logo {
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
		img {		
			width: 60px;
			height: 60px;
		}
	}
	.logo--white {
		display: none;
	}
	.site-name {
		margin-bottom:10px;
		font-size: 32px;
		font-family: $font_caption;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-align: center;
		text-shadow: 0 1px 2px #555;
	}
	.site-slogan {
		font-size: 22px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-align: center;
		text-shadow: 0 1px 2px #555;
	}
}

/*Меню*/
#block-classier-horizontalmenu {
	position: absolute;
	top: 290px;
	width: 100%;
	.horizontal-menu {
		display: flex;
		list-style: none;
		justify-content: center;
	}
	.menu-item {
		padding: 20px 30px;
		border-right: 2px solid #fff;
		&:first-child a {
			color: $color_accent;
		}
		&:last-child {
			border-right: none;
		}
		a {
			text-transform: uppercase;
			font-family: $font_caption;
			font-weight: bold;
			letter-spacing: 1px;
			&:hover {
				color: $color_accent;
			}
		}
	}
	.menu-item--expanded {
		display: flex;
		flex-direction: column;	
		&:hover {
			.sub-nav {
				display: flex;
				margin-top: 35px;
				.menu-item {
					padding: 15px 50px 15px 10px;
					border-right: none;
					border-bottom: 1px solid rgba(0, 0, 0, 0.4);
					background-color: rgba(0, 0, 0, 0.2);
				}
			}
		} 
	}
	.sub-nav {	
		display: none;
		position: absolute;
		top: 20px;
		/* display: flex; */
		flex-direction: column;
		list-style: none;
	}
}

#block-8 {
	padding-top: 420px;
	padding-bottom: 100px;
	background-attachment: fixed;
	background-size: cover;
	border-bottom: 10px solid $color_accent;
	h1 {
		width: 680px;
		margin: 0 auto;
		margin-bottom: 30px;
		font-size: 58px;
		font-family: $font_caption;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
	}
	p {
		width: 680px;
		margin: 0 auto;
		font-size: 18px;
		font-family: $font_caption;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1px;
		line-height: 1.7;
	}
	.titr_logo {
		display: none;
	}
	.field--name-field-izobrazenie {
		display: none;
	}
}

/*Наши товары*/
#block-classier-views-block-katalog-block-1-2 {
	padding-top: 70px;
	padding-bottom: 100px;
	background-color: $color_background-gray;
	h2 {
		padding-bottom: 40px;
		font-family: $font_caption;
		font-size: 40px;
		font-weight: 400;
		text-align: center;
		text-shadow: none;
		text-transform: uppercase;
		color: black;
	}
	.view-content {
		margin-bottom: 50px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.views-row {
		width: 32%;
		box-sizing: border-box;
		color: black;
		font-weight: normal;	
		text-shadow: none;
		background-color: white;
		.views-field-field-image {
			margin-bottom: 20px;
		 	img {
		 		display: block;
				margin: 0 auto;
				width: 90%; 
				height: auto;
				box-sizing: border-box;
			}
		}
		.views-field-title {
			margin-bottom: 20px;
			padding: 0 40px;
			a  {
				color: black;
				font-size: 24px;
				font-weight: 400;
				line-height: 1.2;
			}
		}
		.views-field-body {
			padding: 0 40px;
			margin-bottom: 20px;
			line-height: 1.5;
			font-size: 16px;
		}
		.views-field-field-cena {
			margin-bottom: 50px;
			padding: 0 40px;
			.field-content {
				font-family: $font_caption;
				font-size: 24px;
				font-weight: 700;
			}
		}
		&:hover {
			box-shadow: 2px 2px 2px 2px #555;
		}
	}
}

/*Форма для перезвона*/
#block-10 {
	padding: 70px 100px 90px;
	background-image: url("../images/text_bg.jpg") !important;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	
	/*Тень изнутри*/
	box-shadow:0 0 0 300px rgba(0, 0, 0, 0.6) inset;
	.text {
		text-align: center;
	}
	.one {
		font-size: 44px;
    	font-weight: 900;
    	word-spacing: 5px;
    	letter-spacing: 2.4px;
	    text-transform: uppercase;
	    margin: 0;
	    line-height: 1.3;
	}
	.two {
		font-size: 20px;
	    font-weight: 400;
	    margin: 0 0 70px;
	    color: #fff;
	}
	.button {
		display: flex;
		justify-content: center;
		a {
			display: inline-block;	
			font-size: 22px;
			color: white;
			text-transform: uppercase;
		}	
	}
}

/*Блог*/
#block-views-block-blog {
	padding: 70px 0 100px;
	background-color: white;
	h2 {
		margin-bottom: 20px;
		font-family: $font_caption;
		font-size: 40px;
		text-align: center;
		text-transform: uppercase;
		color: black;
	}
	.view-content {
		display: flex;
		justify-content: space-between;
	}
	.views-row {
		width: 32%;
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-sizing: border-box;
		background-color: #f6cfd5;
	}
	.views-field-field-img {
		margin-bottom: 20px;
		.field-content {
			overflow: hidden;
		    height: 230px;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	.views-field-title {
		margin-bottom: 10px;
		padding: 0 20px;
		a {
			font-family: $font_caption;
			font-size: 28px;
			color: black;
		}
	}
	.views-field-created {
		margin-bottom: 10px;
		padding: 0 20px;
		color: $color_sec-text;
		font-weight: normal;
		text-shadow: none;
	}
	.views-field-body {
		margin-bottom: 20px;
		padding: 0 20px;
		p {
			text-shadow: none;
			color: black;
			line-height: 24px;
		}
	}
	.views-field-field-tags {
		margin-bottom: 20px;
		padding: 0 20px;
		display: flex;
		color: $color_sec-text;
		a {
			color: $color_sec-text;
			text-shadow: none;
			text-transform: lowercase;
			text-decoration: underline;
			&:hover {
				color: $color_accent;
				text-decoration: none;
			}
		}
	}
	.views-field-nid a {
		display: block;
		box-sizing: border-box;
		font-family: $font_caption;
		font-size: 20px;
		line-height: 50px;
		text-align: center;
		background-color: $color_accent;
	}
}

/*Преимущества*/
#block-3 {
	padding: 70px 0px 100px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	box-shadow:0 0 0 400px rgba(255,255,255, 0.6) inset;
	h2 {
		margin-bottom: 10px;
		font-family: $font_caption;
		font-size: 40px;
		font-weight: normal;
		text-align: center;
		text-transform: uppercase;
		color: black;
	}
	.field--name-body p {
		margin: 0 auto 50px;
		text-align: center;
		width: 650px;
		color: black;
		font-weight: normal;
		text-shadow: none;
	}
	.field--type-field-collection {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.field__items>.field__item {
		width: 47%;
		margin-bottom: 80px;
		.field--type-image{
			float: left;
			padding-right: 25px;
			img {
				height: 100px;
				width: 100px;
			}
		}
		.field--name-field-zagolovok {
			margin-bottom: 10px;
			font-family: $font_caption;
			font-size: 36px;
			font-weight: 700;
			line-height: 1;
			color: black;
		}
		.field--name-field-opisanie {
			color: black;
			font-weight: normal;
			text-shadow: none;
		}
	}
	.content {

	}
	.field--name-field-izobrazenie {
		display: none;
	}
}

/*Благодарности*/
#block-views-block-blagodarnosti-block-1 {
	padding: 70px 0 100px;
	background-color: $color_background-gray;
	h2 {
		margin-bottom: 50px;
		text-align: center;
		color: black;
		font-family: $font_caption;
		font-size: 40px;
		text-transform: uppercase;
	}
	.view-content {
		margin-bottom: 50px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}
	.views-row {
		width: 23.2%;
		box-sizing: border-box;
		border: 5px solid white;
		box-shadow: 0px 2px 7px -2px #999;
		img {
	 		display: block;
			margin: 0 auto;
			width: 100%; 
			height: auto;
			box-sizing: border-box;
		}
	}
}

/*Отзывы*/
#block-views-block-otzyvy-block-1 {
	padding: 70px 0 100px;
	background-image: url("../images/reviews_bg.jpg") !important;
	background-size: cover;
	h2 {
		margin-bottom: 20px;
		font-family: $font_caption;
		font-size: 40px;
		font-weight: normal;
		text-align: center;
		text-transform: uppercase;
		color: white;
	}
	.view-content {
		display: flex;
		justify-content: space-between;
	}
	.views-row {
		width: 32%;
		padding: 30px 50px 50px;
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-sizing: border-box;
		background-color: white;
	}
	.views-field-field-img {
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		
		.field-content {
			overflow: hidden;
			border: 5px solid $color_accent;
			border-radius: 50%;
		}
		img {
			width: 120px;
			height: 120px;
			margin-bottom: -4px;
		}
	}
	.views-field-title {
		padding: 0 20px;
		text-align: center;
		.field-content {
			font-family: $font_caption;
			font-size: 20px;
			line-height: 1.2;
			color: black;
		}
	}
	.views-field-field-post {
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 1.2;
		color: $color_sec-text;
		font-weight: normal;
		text-shadow: none;
		text-transform: lowercase;
		text-align: center;
	}
	.views-field-body {
		margin-bottom: 20px;
		p {
			font-style: italic;
			font-size: 16px;
			text-shadow: none;
			color: black;
			line-height: 24px;
		}
	}
	.more-link a {
		color: white;
	}
}

/*Обратная связь*/
#block-classier-form {
	padding: 70px 0 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	&::before {
		content:'';
		display: block;
		width: 570px;
		height: auto;
		background-color: gray;
		background-image: url("../images/bg-form.jpg");
		box-shadow:0 0 0 400px rgba(0,0,0, 0.6) inset;
	}
	&::after {
		position: absolute;
		content:'';
		display: block;
		width: 200px;
		height: 270px;
		margin-left: 185px;
		margin-top: 150px;
		background-image: url("../images/i-form.png");
		background-size: 100% 100%;
		z-index: 4;
	}
	.block-content {
		width: 570px;
		padding: 35px;
		padding-left: 45px;
		box-sizing: border-box;
		background-color: $color_background-gray;
		h2 {
			font-size: 32px;
			color: black;
			font-weight: normal;
			text-shadow: none;
		}
		form {
			max-width: 470px;
			.form-text,
			.form-textarea {
				box-sizing: border-box;
				width: 470px;
				margin-bottom: 5px;
				padding: 25px;
				border: 1px solid black;
				resize: none;
			}
			.form-textarea {
				margin-bottom: 25px;
				padding-top: 15px;
				padding-bottom: 15px;
			}
			.button--primary {
				background-color: $color_background-gray;
				&:hover {
					background-color: $color_accent;
					color: white;
				}
			}
		}
	}
}

footer {
	padding-top: 50px;
	background-color: #232323;
	.region-footer {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.block-block-content {
		width: 26%;
		margin-bottom: 20px;
		h2 {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			min-height: 40px;
			padding: 0 0 25px;
			margin-bottom: 30px;
			font-family: $font_caption;
			font-size: 20px;
			font-weight: normal;
			line-height: 1.1;
			text-transform: uppercase;
			border-bottom: 1px solid #888;
		}		
		p {
			line-height: 24px;
		}
	}

	#block-5 {
		.telefon {
			margin-bottom: 10px;
			font-family: $font_caption;
			font-size: 30px;
			line-height: 1.2;
			font-weight: bold;
			text-shadow: 0 1px 2px #555;
			color: #fff;
		}
		.mail a {
			text-decoration: underline;
			line-height: 24px;
			color: $color_a;
		}
		.adres {
			font-size: 16px;
			display: none;
		}
	}
	#block-4 {
		h2 {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			&::before {
				display: block;
				content: '';
				width: 40px;
				height: 40px;
				margin-right: 20px;
				background-image: url(../images/logo-wh.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100%;
			}
		}
	}

	#block-6 {
		width: 100%;
	}
	#block-11 .address {
		padding-bottom: 20px;
	}
	#block-6 {
		margin-top: 60px;
		margin-bottom: 20px;
		padding-top: 20px;
		border-top: 1px solid #888;
	}
	table {
		width: 1140px;
	 	td {
			width: 50%;
		}
		.rteright {
			text-align: right;
			a {
				text-decoration: underline;
				color: $color_a;
			}
		}
	}
}

